html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #fff;
  backdrop-filter: blur(25px);
  color: #696f79;
}
#main {
  max-width: 100%;
  margin: 0 auto;
}
.container {
  padding: 0 30px;
  margin: 0 auto;
}
.active {
  background: #8692a6;
  border-radius: 30px;
  color: #fff;
}
.active a {
  color: #fff !important;
}
.h2 {
  font-size: 33px;
  font-weight: 600;
}
.btn {
  width: 180px;
  height: 64px;
  border: none;
  background: #8692a6;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: unset;
}

.fixed {
  position: fixed;
  top: 0;
}
.quiz {
  &-sidebar {
    width: 300px;
    position: sticky;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    max-height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    &__heading {
      text-align: center;
      margin: 45px 0;
      font-size: 30px;
      font-weight: 600;
    }
    &__menu {
      display: flex;
      flex-direction: column;
      gap: 5px 0;
      font-size: 15px;
    }
    &__item {
      padding: 17px 40px;
      display: flex;
      align-items: center;
      gap: 0 30px;
      cursor: pointer;
      & a {
        color: #8692a6;
      }
    }
    &__footer {
      bottom: 50px;
      position: absolute;
      padding: 17px 40px;
      display: flex;
      align-items: center;
      gap: 0 30px;
      & span {
        cursor: pointer;
      }
    }
  }

  &-heading {
    padding: 20px 30px;
    background-color: #ffffff;
    backdrop-filter: blur(25px);
    display: flex;
    justify-content: flex-end;
    &__avt {
      margin-right: 20px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      & img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }
  &-start {
    margin: 20px 0;
    padding: 40px 33px;
    background: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 25px;
  }
  &-content {
    width: -webkit-fill-available;
  }
}
//table
.table {
  margin: 20px 0 40px 0;
  width: 100%;
  display: table;
  border: none;
  @media screen and (max-width: 580px) {
    display: block;
  }
}
.row {
  display: table-row;
  background: #f6f6f6;

  &:nth-of-type(odd) {
    background: #e9e9e9;
  }
  &.header {
    font-weight: 900;
    color: #ffffff;
    background: #8692a6;
  }
  @media screen and (max-width: 580px) {
    padding: 14px 0 7px;
    display: block;

    &.header {
      padding: 0;
      height: 6px;

      .cell {
        display: none;
      }
    }
    .cell {
      margin-bottom: 10px;

      &:before {
        margin-bottom: 3px;
        content: attr(data-title);
        min-width: 98px;
        font-size: 10px;
        line-height: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #969696;
        display: block;
      }
    }
  }
}
.cell {
  padding: 6px 12px;
  display: table-cell;
  @media screen and (max-width: 580px) {
    padding: 2px 16px;
    display: block;
  }
}

.box select {
  margin: 20px 0;
  background-color: inherit;
  color: #8692a6;
  padding: 12px;
  width: 250px;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  appearance: none;
  cursor: pointer;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}
.cl-pass {
  color: #0e9d4e;
}
.cl-fail {
  color: #ff0000;
}
.change-avatar-btn {
  position: absolute;
  width: inherit;
  bottom: 0;
  text-align: center;
  color: #ffff;
  background-color: #6666669a;
  border-top-left-radius: 80%;
  border-top-right-radius: 80%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.4s linear;
}
.quiz-info__avt:hover .change-avatar-btn {
  visibility: visible;
  opacity: 1;
}
